# Data type and Structures

1.  What are data structures, and why are they important?

- A data structure is a way to organize and store data in a computer so it can be used efficiently. Examples include arrays, linked lists, stacks, queues, trees, and graphs. Each data structure is suited for specific types of tasks and operations like searching, sorting, inserting, and deleting data.

   Data structures are important because they help in writing efficient programs. They improve speed and save memory by allowing the right operations in the right way. They also help solve complex problems and make the code more organized and reusable. In real-life applications like databases, file systems, and social networks, data structures play a key role in managing and processing data.

2. Explain the difference between mutable and immutable data types with examples?

-  In Python, mutable data types are those which can be changed after they are created, while immutable data types cannot be changed once they are made.

In [ ]:
#mutable

my_list = [1, 2, 3]
my_list[0] = 10
my_list

[10, 2, 3]

In [ ]:
#immutable

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  → This will give an error because tuples can't be changed

3. What are the main differences between lists and tuples in Python ?

- Lists are mutable, which means we can change, add, or remove items after the list is created.

  Tuples are immutable, which means once a tuple is created, we cannot change its items.

  Lists use square brackets [], while tuples use round brackets ()

  Tuples are faster than lists in processing because they are fixed and use less memory.
  
  Lists are used when the data can change, like a list of marks or names.

4. Describe how dictionaries store data.

-  In Python, a dictionary stores data in the form of key-value pairs. This means each piece of data has a unique key, and the key is used to access its corresponding value. It’s like a real dictionary where you look up a word (key) to find its meaning (value).

5. Why might you use a set instead of a list in Python?

-  You might use a set instead of a list in Python when you want to store unique items only and remove duplicates automatically. Sets are also faster than lists for checking if an item exists. They are useful for doing set operations like union and intersection. But sets are unordered and don’t support indexing. So, use a set when you need unique, fast-access, and unordered data.

6.  What is a string in Python, and how is it different from a list?

- The main difference between a string and a list is that a string can only store characters, while a list can store any type of data like numbers, strings, or even other lists. Also, strings are immutable, which means you can't change the characters in a string after it's created. But lists are mutable, so you can change, add, or remove items.

7. How do tuples ensure data integrity in Python?

-  Tuples ensure data integrity in Python because they are immutable, meaning their values can’t be changed after creation. This protects the data from accidental changes and keeps it safe and constant throughout the program.

8.  What is a hash table, and how does it relate to dictionaries in Python?
-  
A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly find the location of a value based on its key.

  In Python, a dictionary is built using a hash table. When you use a key in a dictionary, Python runs it through a hash function to find where the value is stored. This makes lookups, insertions, and deletions very fast.

9. Can lists contain different data types in Pthon ?
-  Yes, lists can contain different data types in Python. A single list can have numbers, strings, booleans, or even other lists.

In [ ]:
my_list = [10, "hello", True, 3.14, [1, 2, 3]]

10. Explain why strings are immutable in Python?
- Strings are immutable in Python, which means you cannot change a string once it is created. This is done for performance and security reasons.

  When you try to change a string, Python actually creates a new string instead of modifying the original one. This helps avoid unexpected bugs and makes strings safe to share between different parts of a program.

11. What advantages do dictionaries offer over lists for certain tasks?
-  Dictionaries offer several advantages over lists for certain tasks in Python. The main advantage is that dictionaries use keys to access values, which makes searching for data much faster compared to lists. In a list, you have to search through items by position (index), but in a dictionary, you can directly get a value using its key.

 Also, dictionaries are better when you want to store related data like a name and age, or student and marks. They make your code more clear and readable when working with such key-value relationships.

12. Describe a scenario where using a tuple would be preferable over a list?
-  A tuple is preferable over a list when you want to store data that should not change. For example, if you are storing the coordinates of a location, like (28.6139, 77.2090) for Delhi, it makes sense to use a tuple because these values are fixed and should not be modified.

  Using a tuple in such cases ensures the data stays safe and unchanged, which helps maintain data integrity. Also, since tuples are faster and use less memory than lists, they are better when you just need to store constant, read-only data.

13.  How do sets handle duplicate values in Python ?

- In Python, sets automatically remove duplicate values. When you create a set, it only keeps unique elements, no matter how many duplicates you add

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

In [ ]:
my_list = [1, 2, 3] # in checks if a value exists in the list.
print(2 in my_list)

True

In [ ]:
my_dict = {'a': 1, 'b': 2}  # in checks if a key exists, not the value.
print('a' in my_dict)
print(1 in my_dict)

True
False

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, which means once a tuple is created, its values cannot be changed, added, or removed.

  Python does this to protect the data and make it more secure and reliable. Tuples are often used when you want to store fixed data that should not be accidentally changed in the program.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will give an error

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store related data in a structured and organized way.

In [ ]:
students = {
    "101": {"name": "Aman", "age": 20, "grade": "A"},
    "102": {"name": "Riya", "age": 21, "grade": "B"}
}
students

{'101': {'name': 'Aman', 'age': 20, 'grade': 'A'},
 '102': {'name': 'Riya', 'age': 21, 'grade': 'B'}}

17. Describe the time complexity of accessing elements in a dictionary?
-  The time complexity of accessing elements in a dictionary in Python is O(1) on average. This means you can access a value by its key very quickly, no matter how large the dictionary is.

 This fast access is possible because dictionaries use a hash table internally. The key is converted into a hash, which points directly to the location of the value.

18.  In what situations are lists preferred over dictionaries?
-  Lists are preferred over dictionaries when:

 You need to store a simple ordered collection of items.

 The order of elements matters, like in a sequence or timeline.

 You are working with duplicate values, which dictionaries do not allow for keys.

 You only care about values, not key-value pairs.

 You need to loop through items in order, like printing numbers or names one by one.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionaries are considered unordered because they store data by keys, not by position. You can’t access items by index, only by their keys. This means the order doesn’t matter, and you should not rely on it when retrieving data. Dictionaries are built for fast key-based lookups, not for keeping data in sequence.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

In [ ]:
#In a list, data is retrieved using a numerical index.

my_list = [10, 20, 30]
print(my_list[1])

20

In [ ]:
#In a dictionary, data is retrieved using a key.

my_dict = {"a": 10, "b": 20}
print(my_dict["b"])

20

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Sagar Singh"
print(my_name)

Sagar Singh

2. Explain the difference between mutable and immutable data types with examples.

In [ ]:
# mutable-You can change, add, or remove elements.

my_list = [1, 2, 3]
my_list[0] = 10  # Now it becomes [10, 2, 3]
my_list

[10, 2, 3]

In [ ]:
# immutable-You cannot change their content. Any update creates a new object.


my_str = "hello"
my_str[0] = "H"  # Error! Strings can't be changed

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [1]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [2]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [3]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [4]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [5]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [6]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [7]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [8]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [9]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [10]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last = my_tuple[-2]
print(second_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [11]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [12]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [13]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [14]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [16]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [18]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [19]:
person = {
    "name": "joun alia",
    "age": 25,
    "city": "pakistan"
}
print(person)

{'name': 'joun alia', 'age': 25, 'city': 'pakistan'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [20]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [21]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [22]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [23]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [24]:
my_list = [1, 2, 3, 4, 5]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Sagar', 'age': 21}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Sagar', 'age': 21}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [25]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()

print("Sorted list:", numbers)

Sorted list: [3, 16, 17, 60, 74]

28.  Write a code to create a list with strings and print the element at the third index.

In [26]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at third index:", my_list[3])

Element at third index: date

29.  Write a code to combine two dictionaries into one and print the result.

In [27]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [29]:
my_list = ["apple", "banana", "kela"]
my_set = set(my_list)

print("Set:", my_set)

Set: {'banana', 'kela', 'apple'}